* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
}

.site{
    margin: 0 auto;
    border: 2px solid black;
    padding: 4em;
}

a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

img {
    background-color: rgb(255, 255, 255);
    width: 100;
    height: auto;
    display: block;
    
}

article, aside {
    display: inline-block;
    vertical-align: top;
}

article {
    width: 65%;
}

aside {
    margin: 0 0 0 3em;
    width: auto;
}

h1, h2, h3 {
    font: 1em/1.2 Georgia, serif;
    margin-block: 0.5em;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

.main-header {
    border-bottom: 2px solid black;
    position: relative;
}

header .site-title,
header nav {
    display: inline-block;
}

header .site-title a {
    color: black;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

nav ul {
    padding: 0 0 0 10em;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}

nav ul li {
    display: inline;
}

nav a {
    padding: 0.5em;
}

blockquote {
    width: 50%;
    float: right;
    font-family: Georgia, serif;
    font-style: italic;
    border-left: 4px solid #ccc;
    padding-left: 1em;
    margin-left: 1em;
}

cite {
    display: block;
    text-align: right;
}

.frame {
    padding: 0.5em;
    border: 1px solid black;
}

article header .frame {
    float: right;
    margin: 0 0 2em 2em;
}

article section .frame {
    float: left;
    margin: 0 2em 2em 0;
}

article p {
    margin-block: 1em;
}

aside ul {
    list-style-position: inside;
}
