body {
    background-color: #e4e978;
}

section {
    font-style: italic;
    color: #4c7658;
}

 article {
    background-color: #f2f4c0;
    width: 700px;
    border: 1px solid #5c6e91;
    margin: 15px 10px;
    padding: 5px 15px;
 }